body {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  color: #3f3d56;
}

a {
  color: #ff6582;
  text-decoration: none;
}

.App-header {
  text-align: center;
  margin-top: 40px;
}

.App-logo {
  display: block;
  max-width: 250px;
  margin: 0 auto;
  border: 5px double #14bda4;
  border-radius: 50%;
}

.App-footer {
  margin: 30px 0;
  text-align: center;
}

.App .container {
  max-width: 960px;
}
